.header {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header h1 {
  padding: 10rem;
  font-size: calc(1.5rem + 3.5vw);
  font-family: 'Fredericka the Great', cursive;

}

@media (max-width: 600px) {
  .header h1 {
    padding: 5rem;
  }
}